In [1]:
## import data manipulation packages
import pandas as pd
import numpy as np
from sklearn.neighbors import DistanceMetric
from math import radians

In [5]:
## import dataset as variable 'city' and drop NaN
cities = pd.read_excel('data/small_cities.xlsx')
ct = cities.dropna(axis = 'rows', how = 'any')

In [7]:
## concatenate iso2 and city to get unique id
ct['ID'] = ct['city'].map(str) + ct['iso2'].map(str)

<ipython-input-7-279be081fb36>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ct['ID'] = ct['city'].map(str) + ct['iso2'].map(str)

In [8]:
## drop not usable columns
ct = ct.drop(['city_ascii', 'country', 'iso2', 'admin_name', 'capital', 'population', 'id'], axis = 1)

In [9]:
## coversion of coordinated in degrees to radians
ct['lat'] = np.radians(ct['lat'])
ct['lng'] = np.radians(ct['lng'])

In [10]:
## get the scipy metrics
dist = DistanceMetric.get_metric('haversine')

In [11]:
## prepare the array to get in input for the distance calculation
ct[['lat','lng']].to_numpy()

array([[ 6.22902774e-01,  2.43808883e+00],
       [-1.08465232e-01,  1.86479878e+00],
       [ 5.00211364e-01,  1.34791778e+00],
       [ 3.31031363e-01,  1.27118089e+00],
       [ 2.54744767e-01,  2.11145046e+00],
       [ 5.43961532e-01,  2.11999385e+00],
       [-4.11032020e-01, -8.13915098e-01],
       [ 6.55952329e-01,  2.21656815e+00],
       [ 3.39175070e-01, -1.73020248e+00],
       [ 4.03673712e-01,  1.97674246e+00],
       [ 6.96473638e-01,  2.03141315e+00],
       [ 5.24577905e-01,  5.45230386e-01],
       [ 3.93416412e-01,  1.54178546e+00],
       [ 9.73122287e-01,  6.56554467e-01],
       [ 2.39982772e-01,  1.75434737e+00],
       [-6.03878685e-01, -1.01895638e+00],
       [ 3.93309947e-01,  1.99061783e+00],
       [ 4.13924031e-01,  1.57770958e+00],
       [ 8.98970228e-01, -2.22529480e-03]])

In [12]:
## pass pairwise function to get the distance / multiply for 6373 as earth sperical radius is 6373kms
dist.pairwise(ct [['lat','lng']].to_numpy())*6373

array([[    0.        ,  5787.90376514,  5835.24850156,  6736.36809942,
         2997.19433953,  1762.02238898, 18539.98524556,  1151.30788725,
        11309.38036426,  2903.80048079,  2094.45550534,  9566.23329973,
         5139.14281822,  7480.57051994,  4603.65727549, 18375.34461103,
         2875.85310361,  4891.88600698,  9561.72022915],
       [ 5787.90376514,     0.        ,  5011.26756513,  4662.28762191,
         2790.71769102,  4439.07372657, 15633.27081416,  5301.08499752,
        16850.82224408,  3337.52354223,  5222.60346539,  8988.64386526,
         3780.03420361,  9315.18347434,  2328.00380897, 15223.81716474,
         3292.7014063 ,  3777.92977517, 11722.2778931 ],
       [ 5835.24850156,  5011.26756513,     0.        ,  1166.99745941,
         4755.33798859,  4245.89964831, 14435.54333137,  4686.01564302,
        14657.70559863,  3643.36138692,  3775.41614973,  4430.87846438,
         1304.60654576,  4340.81998221,  2919.41239224, 15799.73412347,
         3741.19868618,  1423.38249482,  6711.10194356],
       [ 6736.36809942,  4662.28762191,  1166.99745941,     0.        ,
         5135.01293256,  5042.31711631, 13770.5323263 ,  5609.66494485,
        15661.132639  ,  4209.00139376,  4755.95358218,  4360.17509745,
         1659.97637422,  5038.1945334 ,  3007.4556289 , 14929.75443262,
         4292.78016968,  1893.04386259,  7200.01131315],
       [ 2997.19433953,  2790.71769102,  4755.33798859,  5135.01293256,
            0.        ,  1843.85359172, 18383.44402509,  2625.11530235,
        14224.91317347,  1248.62455024,  2850.35976586,  9179.5484552 ,
         3544.83216108,  8259.82951475,  2207.8150196 , 17795.41129933,
         1145.20932824,  3361.05731028, 10738.33965633],
       [ 1762.02238898,  4439.07372657,  4245.89964831,  5042.31711631,
         1843.85359172,     0.        , 18574.02400232,   875.62892804,
        12917.63879902,  1207.10230746,  1074.54888685,  8359.07920146,
         3410.14568718,  6824.31571663,  2885.94371206, 19639.25635193,
         1208.70377809,  3165.41872994,  9205.25753129],
       [18539.98524556, 15633.27081416, 14435.54333137, 13770.5323263 ,
        18383.44402509, 18574.02400232,     0.        , 18346.80813703,
         7434.35645385, 17969.01025794, 17603.69309688, 10223.80205662,
        15430.46619504, 11810.17466087, 16402.05619491,  1675.07494205,
        18042.93724359, 15659.93168961,  9500.39761921],
       [ 1151.30788725,  5301.08499752,  4686.01564302,  5609.66494485,
         2625.11530235,   875.62892804, 18346.80813703,     0.        ,
        12052.65972318,  2074.46507909,   955.20344511,  8488.21458062,
         4044.10185995,  6607.41885852,  3725.45776262, 19434.90627458,
         2082.1470471 ,  3796.35059573,  8859.50222519],
       [11309.38036426, 16850.82224408, 14657.70559863, 15661.132639  ,
        14224.91317347, 12917.63879902,  7434.35645385, 12052.65972318,
            0.        , 14124.49866221, 12462.62385609, 12371.8641446 ,
        15282.5314792 , 10722.71197547, 15748.97823057,  7394.22031546,
        14123.18281924, 15111.85441306,  8931.50563102],
       [ 2903.80048079,  3337.52354223,  3643.36138692,  4209.00139376,
         1248.62455024,  1207.10230746, 17969.01025794,  2074.46507909,
        14124.49866221,     0.        ,  1889.14677135,  8020.45007798,
         2552.46999685,  7014.26949385,  1699.98871468, 18509.26678298,
          104.9017688 ,  2331.90811367,  9498.76879929],
       [ 2094.45550534,  5222.60346539,  3775.41614973,  4755.95358218,
         2850.35976586,  1074.54888685, 17603.69309688,   955.20344511,
        12462.62385609,  1889.14677135,     0.        ,  7544.31231152,
         3270.53351669,  5794.57072419,  3296.3687697 , 19271.77378402,
         1944.60715043,  3027.16628792,  8142.74682632],
       [ 9566.23329973,  8988.64386526,  4430.87846438,  4360.17509745,
         9179.5484552 ,  8359.07920146, 10223.80205662,  8488.21458062,
        12371.8641446 ,  8020.45007798,  7544.31231152,     0.        ,
         5697.96425685,  2902.5657746 ,  7272.66148478, 11817.26088461,
         8122.6276951 ,  5847.91708932,  3511.5828201 ],
       [ 5139.14281822,  3780.03420361,  1304.60654576,  1659.97637422,
         3544.83216108,  3410.14568718, 15430.46619504,  4044.10185995,
        15282.5314792 ,  2552.46999685,  3270.53351669,  5697.96425685,
            0.        ,  5535.22291618,  1615.03960046, 16525.0704068 ,
         2638.63188904,   247.80324619,  7965.48664806],
       [ 7480.57051994,  9315.18347434,  4340.81998221,  5038.1945334 ,
         8259.82951475,  6824.31571663, 11810.17466087,  6607.41885852,
        10722.71197547,  7014.26949385,  5794.57072419,  2902.5657746 ,
         5535.22291618,     0.        ,  7068.13323202, 13479.49543299,
         7116.32371938,  5550.34987962,  2501.34313449],
       [ 4603.65727549,  2328.00380897,  2919.41239224,  3007.4556289 ,
         2207.8150196 ,  2885.94371206, 16402.05619491,  3725.45776262,
        15748.97823057,  1699.98871468,  3296.3687697 ,  7272.66148478,
         1615.03960046,  7068.13323202,     0.        , 16879.29591427,
         1730.90836152,  1536.6164078 ,  9536.33835408],
       [18375.34461103, 15223.81716474, 15799.73412347, 14929.75443262,
        17795.41129933, 19639.25635193,  1675.07494205, 19434.90627458,
         7394.22031546, 18509.26678298, 19271.77378402, 11817.26088461,
        16525.0704068 , 13479.49543299, 16879.29591427,     0.        ,
        18490.73371523, 16772.67090957, 11130.92764075],
       [ 2875.85310361,  3292.7014063 ,  3741.19868618,  4292.78016968,
         1145.20932824,  1208.70377809, 18042.93724359,  2082.1470471 ,
        14123.18281924,   104.9017688 ,  1944.60715043,  8122.6276951 ,
         2638.63188904,  7116.32371938,  1730.90836152, 18490.73371523,
            0.        ,  2420.82782505,  9599.52868017],
       [ 4891.88600698,  3777.92977517,  1423.38249482,  1893.04386259,
         3361.05731028,  3165.41872994, 15659.93168961,  3796.35059573,
        15111.85441306,  2331.90811367,  3027.16628792,  5847.91708932,
          247.80324619,  5550.34987962,  1536.6164078 , 16772.67090957,
         2420.82782505,     0.        ,  8004.68870342],
       [ 9561.72022915, 11722.2778931 ,  6711.10194356,  7200.01131315,
        10738.33965633,  9205.25753129,  9500.39761921,  8859.50222519,
         8931.50563102,  9498.76879929,  8142.74682632,  3511.5828201 ,
         7965.48664806,  2501.34313449,  9536.33835408, 11130.92764075,
         9599.52868017,  8004.68870342,     0.        ]])

In [13]:
## create the distance matrix with cities in the indexes
distance = pd.DataFrame(dist.pairwise(ct[['lat','lng']].to_numpy())*6373, columns = ct['ID'], index = ct['ID'])
print(distance)

ID                   TokyoJP     JakartaID       DelhiIN      MumbaiIN  \
ID
TokyoJP             0.000000   5787.903765   5835.248502   6736.368099
JakartaID        5787.903765      0.000000   5011.267565   4662.287622
DelhiIN          5835.248502   5011.267565      0.000000   1166.997459
MumbaiIN         6736.368099   4662.287622   1166.997459      0.000000
ManilaPH         2997.194340   2790.717691   4755.337989   5135.012933
ShanghaiCN       1762.022389   4439.073727   4245.899648   5042.317116
São PauloBR     18539.985246  15633.270814  14435.543331  13770.532326
SeoulKR          1151.307887   5301.084998   4686.015643   5609.664945
Mexico CityMX   11309.380364  16850.822244  14657.705599  15661.132639
GuangzhouCN      2903.800481   3337.523542   3643.361387   4209.001394
BeijingCN        2094.455505   5222.603465   3775.416150   4755.953582
CairoEG          9566.233300   8988.643865   4430.878464   4360.175097
KolkātaIN        5139.142818   3780.034204   1304.606546   1659.976374
MoscowRU         7480.570520   9315.183474   4340.819982   5038.194533
BangkokTH        4603.657275   2328.003809   2919.412392   3007.455629
Buenos AiresAR  18375.344611  15223.817165  15799.734123  14929.754433
ShenzhenCN       2875.853104   3292.701406   3741.198686   4292.780170
DhakaBD          4891.886007   3777.929775   1423.382495   1893.043863
LondonGB         9561.720229  11722.277893   6711.101944   7200.011313

ID                  ManilaPH    ShanghaiCN   São PauloBR       SeoulKR  \
ID
TokyoJP          2997.194340   1762.022389  18539.985246   1151.307887
JakartaID        2790.717691   4439.073727  15633.270814   5301.084998
DelhiIN          4755.337989   4245.899648  14435.543331   4686.015643
MumbaiIN         5135.012933   5042.317116  13770.532326   5609.664945
ManilaPH            0.000000   1843.853592  18383.444025   2625.115302
ShanghaiCN       1843.853592      0.000000  18574.024002    875.628928
São PauloBR     18383.444025  18574.024002      0.000000  18346.808137
SeoulKR          2625.115302    875.628928  18346.808137      0.000000
Mexico CityMX   14224.913173  12917.638799   7434.356454  12052.659723
GuangzhouCN      1248.624550   1207.102307  17969.010258   2074.465079
BeijingCN        2850.359766   1074.548887  17603.693097    955.203445
CairoEG          9179.548455   8359.079201  10223.802057   8488.214581
KolkātaIN        3544.832161   3410.145687  15430.466195   4044.101860
MoscowRU         8259.829515   6824.315717  11810.174661   6607.418859
BangkokTH        2207.815020   2885.943712  16402.056195   3725.457763
Buenos AiresAR  17795.411299  19639.256352   1675.074942  19434.906275
ShenzhenCN       1145.209328   1208.703778  18042.937244   2082.147047
DhakaBD          3361.057310   3165.418730  15659.931690   3796.350596
LondonGB        10738.339656   9205.257531   9500.397619   8859.502225

ID              Mexico CityMX   GuangzhouCN     BeijingCN       CairoEG  \
ID
TokyoJP          11309.380364   2903.800481   2094.455505   9566.233300
JakartaID        16850.822244   3337.523542   5222.603465   8988.643865
DelhiIN          14657.705599   3643.361387   3775.416150   4430.878464
MumbaiIN         15661.132639   4209.001394   4755.953582   4360.175097
ManilaPH         14224.913173   1248.624550   2850.359766   9179.548455
ShanghaiCN       12917.638799   1207.102307   1074.548887   8359.079201
São PauloBR       7434.356454  17969.010258  17603.693097  10223.802057
SeoulKR          12052.659723   2074.465079    955.203445   8488.214581
Mexico CityMX        0.000000  14124.498662  12462.623856  12371.864145
GuangzhouCN      14124.498662      0.000000   1889.146771   8020.450078
BeijingCN        12462.623856   1889.146771      0.000000   7544.312312
CairoEG          12371.864145   8020.450078   7544.312312      0.000000
KolkātaIN        15282.531479   2552.469997   3270.533517   5697.964257
MoscowRU         10722.711975   7014.269494   5794.570724   2902.565775
BangkokTH        15748.978231   1699.988715   3296.368770   7272.661485
Buenos AiresAR    7394.220315  18509.266783  19271.773784  11817.260885
ShenzhenCN       14123.182819    104.901769   1944.607150   8122.627695
DhakaBD          15111.854413   2331.908114   3027.166288   5847.917089
LondonGB          8931.505631   9498.768799   8142.746826   3511.582820

ID                 KolkātaIN      MoscowRU     BangkokTH  Buenos AiresAR  \
ID
TokyoJP          5139.142818   7480.570520   4603.657275    18375.344611
JakartaID        3780.034204   9315.183474   2328.003809    15223.817165
DelhiIN          1304.606546   4340.819982   2919.412392    15799.734123
MumbaiIN         1659.976374   5038.194533   3007.455629    14929.754433
ManilaPH         3544.832161   8259.829515   2207.815020    17795.411299
ShanghaiCN       3410.145687   6824.315717   2885.943712    19639.256352
São PauloBR     15430.466195  11810.174661  16402.056195     1675.074942
SeoulKR          4044.101860   6607.418859   3725.457763    19434.906275
Mexico CityMX   15282.531479  10722.711975  15748.978231     7394.220315
GuangzhouCN      2552.469997   7014.269494   1699.988715    18509.266783
BeijingCN        3270.533517   5794.570724   3296.368770    19271.773784
CairoEG          5697.964257   2902.565775   7272.661485    11817.260885
KolkātaIN           0.000000   5535.222916   1615.039600    16525.070407
MoscowRU         5535.222916      0.000000   7068.133232    13479.495433
BangkokTH        1615.039600   7068.133232      0.000000    16879.295914
Buenos AiresAR  16525.070407  13479.495433  16879.295914        0.000000
ShenzhenCN       2638.631889   7116.323719   1730.908362    18490.733715
DhakaBD           247.803246   5550.349880   1536.616408    16772.670910
LondonGB         7965.486648   2501.343134   9536.338354    11130.927641

ID                ShenzhenCN       DhakaBD      LondonGB
ID
TokyoJP          2875.853104   4891.886007   9561.720229
JakartaID        3292.701406   3777.929775  11722.277893
DelhiIN          3741.198686   1423.382495   6711.101944
MumbaiIN         4292.780170   1893.043863   7200.011313
ManilaPH         1145.209328   3361.057310  10738.339656
ShanghaiCN       1208.703778   3165.418730   9205.257531
São PauloBR     18042.937244  15659.931690   9500.397619
SeoulKR          2082.147047   3796.350596   8859.502225
Mexico CityMX   14123.182819  15111.854413   8931.505631
GuangzhouCN       104.901769   2331.908114   9498.768799
BeijingCN        1944.607150   3027.166288   8142.746826
CairoEG          8122.627695   5847.917089   3511.582820
KolkātaIN        2638.631889    247.803246   7965.486648
MoscowRU         7116.323719   5550.349880   2501.343134
BangkokTH        1730.908362   1536.616408   9536.338354
Buenos AiresAR  18490.733715  16772.670910  11130.927641
ShenzhenCN          0.000000   2420.827825   9599.528680
DhakaBD          2420.827825      0.000000   8004.688703
LondonGB         9599.528680   8004.688703      0.000000

In [14]:
## identify 'London' ID 
ct.loc[(ct['city'] == 'London') & (ct['iso3'] == 'GBR')]

      city      lat       lng iso3        ID
19  London  0.89897 -0.002225  GBR  LondonGB

In [16]:
## get starting line from distance matrix
distance.loc[['LondonGB']]

ID,TokyoJP,JakartaID,DelhiIN,MumbaiIN,ManilaPH,ShanghaiCN,São PauloBR,SeoulKR,Mexico CityMX,GuangzhouCN,BeijingCN,CairoEG,KolkātaIN,MoscowRU,BangkokTH,Buenos AiresAR,ShenzhenCN,DhakaBD,LondonGB
ID,,,,,,,,,,,,,,,,,,,
LondonGB,9561.720229,11722.277893,6711.101944,7200.011313,10738.339656,9205.257531,9500.397619,8859.502225,8931.505631,9498.768799,8142.746826,3511.58282,7965.486648,2501.343134,9536.338354,11130.927641,9599.52868,8004.688703,0.0

In [17]:
from pandas import DataFrame

In [18]:
## popolare per criteri (più vicino +2, secondo più vicino +4, terzo più vicino +8, il resto 'no go')
dis = distance.replace(0, 0)
dis = dis.replace(dis.apply(lambda x: x[x > 0].min(axis=0)), 2)
dis = dis.replace(dis.apply(lambda x: x[x > 2].min(axis=0)), 4)
dis = dis.replace(dis.apply(lambda x: x[x > 4].min(axis=0)), 8)
dis = dis.replace(dis.apply(lambda x: x[x > 8]), 'no go')

In [19]:
print(dis)

ID             TokyoJP JakartaID DelhiIN MumbaiIN ManilaPH ShanghaiCN  \
ID
TokyoJP              0     no go   no go    no go    no go      no go
JakartaID        no go         0   no go    no go    no go      no go
DelhiIN          no go     no go       0        2    no go      no go
MumbaiIN         no go     no go       2        0    no go      no go
ManilaPH         no go         4   no go    no go        0      no go
ShanghaiCN           4     no go   no go    no go        8          0
São PauloBR      no go     no go   no go    no go    no go      no go
SeoulKR              2     no go   no go    no go    no go          2
Mexico CityMX    no go     no go   no go    no go    no go      no go
GuangzhouCN      no go     no go   no go    no go        4          8
BeijingCN            8     no go   no go    no go    no go          4
CairoEG          no go     no go   no go    no go    no go      no go
KolkātaIN        no go     no go       4        4    no go      no go
MoscowRU         no go     no go   no go    no go    no go      no go
BangkokTH        no go         2   no go    no go    no go      no go
Buenos AiresAR   no go     no go   no go    no go    no go      no go
ShenzhenCN       no go         8   no go    no go        2      no go
DhakaBD          no go     no go       8        8    no go      no go
LondonGB         no go     no go   no go    no go    no go      no go

ID             São PauloBR SeoulKR Mexico CityMX GuangzhouCN BeijingCN  \
ID
TokyoJP              no go       8         no go       no go     no go
JakartaID            no go   no go         no go       no go     no go
DelhiIN              no go   no go         no go       no go     no go
MumbaiIN             no go   no go         no go       no go     no go
ManilaPH             no go   no go         no go           8     no go
ShanghaiCN           no go       2         no go           4         4
São PauloBR              0   no go             4       no go     no go
SeoulKR              no go       0         no go       no go         2
Mexico CityMX            4   no go             0       no go     no go
GuangzhouCN          no go   no go         no go           0         8
BeijingCN            no go       4         no go       no go         0
CairoEG              no go   no go         no go       no go     no go
KolkātaIN            no go   no go         no go       no go     no go
MoscowRU             no go   no go         no go       no go     no go
BangkokTH            no go   no go         no go       no go     no go
Buenos AiresAR           2   no go             2       no go     no go
ShenzhenCN           no go   no go         no go           2     no go
DhakaBD              no go   no go         no go       no go     no go
LondonGB                 8   no go             8       no go     no go

ID             CairoEG KolkātaIN MoscowRU BangkokTH Buenos AiresAR ShenzhenCN  \
ID
TokyoJP          no go     no go    no go     no go          no go      no go
JakartaID        no go     no go    no go     no go          no go      no go
DelhiIN          no go         4        8     no go          no go      no go
MumbaiIN             8     no go    no go     no go          no go      no go
ManilaPH         no go     no go    no go     no go          no go          4
ShanghaiCN       no go     no go    no go     no go          no go          8
São PauloBR      no go     no go    no go     no go              2      no go
SeoulKR          no go     no go    no go     no go          no go      no go
Mexico CityMX    no go     no go    no go     no go              4      no go
GuangzhouCN      no go     no go    no go         8          no go          2
BeijingCN        no go     no go    no go     no go          no go      no go
CairoEG              0     no go        4     no go          no go      no go
KolkātaIN        no go         0    no go         4          no go      no go
MoscowRU             2     no go        0     no go          no go      no go
BangkokTH        no go         8    no go         0          no go      no go
Buenos AiresAR   no go     no go    no go     no go              0      no go
ShenzhenCN       no go     no go    no go     no go          no go          0
DhakaBD          no go         2    no go         2          no go      no go
LondonGB             4     no go        2     no go              8      no go

ID             DhakaBD LondonGB
ID
TokyoJP          no go    no go
JakartaID        no go    no go
DelhiIN              4        8
MumbaiIN         no go    no go
ManilaPH         no go    no go
ShanghaiCN       no go    no go
São PauloBR      no go    no go
SeoulKR          no go    no go
Mexico CityMX    no go    no go
GuangzhouCN      no go    no go
BeijingCN        no go    no go
CairoEG          no go        4
KolkātaIN            2    no go
MoscowRU         no go        2
BangkokTH            8    no go
Buenos AiresAR   no go    no go
ShenzhenCN       no go    no go
DhakaBD              0    no go
LondonGB         no go        0